#loading { display: none;
            position: absolute;
            width: 300px;
            left: 50%;
            margin-left:-150px;
            height: 400px;
            top: 50%;
            margin-top:-200px; }
